<div class="row">
  <div class="span4">
  	<h2>Navigation Bar</h2>
  </div>
  <div class="span8">

<h1>Welcome to Home Warden!</h1>
<p>
	You've found the page for 
	<%= link_to "Home Security Solutions", "http://homewarden.com" %>
</p>
<p>
	<%= link_to "Sign Up Now", "#" , class: "btn btn-primary btn-large" %>

</p>
</div>
</div>




